<div class="card">
  <h5 class="card-header">Bienvenido</h5>
  <div class="card-body">
    <h5 class="card-title">Estas en la pagina de inicio</h5>
    <p class="card-text">Puedes navegar por toda la pagina con la barra de navegación</p>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Advertencia</h5>
  <div class="card-body">
    <h5 class="card-title">Algunas de las imagenes no cargaron como deberian....</h5>
    <p class="card-text">Estamos trabajando para solucionar el problema..../p>
  </div>
</div>